<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <title>Langchain-BQ NLP</title>
</head>

<body>

    <section class="container is-max-desktop">
        {% block content %}
        {% endblock content %}
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Code Manenos by John Wesonga
                </p>
            </div>
        </footer>
    </section>



</body>

</html>