<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <p class="title">Langchain BigQuery NL Search</p>
        <p class="subtitle"></p>
    </div>
</section>
<form hx-post="/llm/query">
    <div class="field">
        <div class="control">
            <textarea name="search" rows="4" class="textarea is-medium" placeholder="Write your thoughts here...">
        </textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <select name="dataset" id="dataset" class="select">
                <option value="">Select Dataset</option>
                <option value="lintons_place_ltd">Kenya</option>
                <option value="liug">Uganda</option>
            </select>
        </div>
    </div>
    <button hx-post="/llm/query" hx-target="#results" hx-indicator=" .htmx-indicator" class="button is-black">
        Search
    </button>
    <span class="htmx-indicator">Querying...</span>


</form>

<table class="border-collapse w-small w-2/3 mx-auto">

    <tbody id="results">

    </tbody>
</table>
{% endblock content %}